*{
	font-family: 'Baloo Paaji 2', cursive;
}
html{
	 grid-template-areas: ". .";
	 margin-bottom: 1px ;
	 background: rgb(131,58,180);
	 background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(195,43,100,1) 32%, rgba(253,29,29,1) 67%, rgba(252,176,69,1) 100%);
}
.container{
	margin-top: 50px ;
}
.column {
    float: left;
    width: 50%;
}
.header{
	text-align: center ;
	color:#FFFFFF;
	border-bottom: 10px solid #FFFFFF ;
}
.textcolumn{
	text-align: center ;
	color:#FFFFFF;
	font-size: 32px;
}
#image-left{
	display: block ;
	margin-right: auto ;
	margin-left: auto ;
	width: 80%;
	height: 45% ;
}
.upbutton{
	background: linear-gradient(0deg, #4b6cb7 0%, #182848 100%);
	margin: 10px ;
	font-size:20px;
	color:rgba(253,29,29,1);
	border:0px ;
	color: white;
	font-weight: bold ;
	border-radius: 5px 5px ;
	display: block ;
	margin-left: auto ;
	margin-right: auto ; 
}
.upbutton:hover{
	background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
}
.fixed-nav-bar {
  background:rgba(6,57,84,1) ;
  position: fixed;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  right: 700px ;
}
#head-text{
	margin-left: 10px ;
	font-size: 38px ;
	font-weight: bold ;
	color:#FFFFFF;
	padding: 0px ;
	margin : 0px ;
}
#start-button{
	float:right;
	font-size:23px ;
	font-weight: bold ;
	background: transparent;
	color:rgba(6,57,84,1);
	border:3px solid white ;
	border-radius: 5px 5px ;
	margin:5px;
	background: white ;
}
#demo{
	margin-left: 40% ;
	font-size: 45px;
	background: white ;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bold;
  	font-family: 'Orbitron', sans-serif;
  	font-family: clockFont ;
  	margin-top: 0px ;
  	margin-bottom:0px ;

}
@font-face {
  font-family: clockFont;
  src: url(digital-7.ttf);
}