<!DOCTYPE html>
<html>
<head>
    <title>DASHBOARD </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></src>
  <src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></src>
  <src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></src>
    <link rel = "stylesheet" href = "{{url_for('static',filename='style.css')}}" >
    <style>
        .header{
            color:white
        }
        *{
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
<h1 class="header"> DASHBOARD </h1>
    <div class="container">
	    <table class="table table-hover table-dark">
		    <tr class="bg-info">
		    <th>Student Name</th>
		    <th>Margin Value</th>
		    <th>Plague Test</th>
		    </tr>
		    <tr class="bg-info">
			    {% for i in range(no) %}
			    <tr>
			    {% for j in range(3) %}
			    <td>{{mat[i][j]}}</td> 
			    {% endfor %}
			    </tr>
			    {% endfor %}
		    </tr>
        </table>
    </div>
    
</body>
</html>